{% extends 'base.html.twig' %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="{{ asset('css/list.css') }}">
{% endblock %}

{% block title %}Tous les événements
{% endblock %}

{% block body %}
<main>
	<h1>Tournois</h1>
	<div class="container mt-5">
		<h2 class="text-center">Recherche</h2>

		<div class="form-container">

			<form class="filter">
				<label for="title">Nom d'event</label>
				<input type="text" id="title" name="title" class="form-control" style="min-width: 15rem;">

				<label for="maxUser">Max joueurs</label>
				<input type="number" id="maxUser" name="maxUser" min="1" max="999" step="1" class="form-control"
					style="min-width: 6rem;">

				<label for="startDate">Date début</label>
				<input type="date" id="startDate" name="startDate" class="form-control" style="min-width: 12rem;">

				<label for="endDate">Date fin</label>
				<input type="date" id="endDate" name="endDate" class="form-control" style="min-width: 12rem;">
			</form>

		</div>
		<ul class="event-list">
			{% for event in events %}
			<li class="event-item d-flex align-items-center">
				<!-- Image de l'événement -->
				<div class="event-image-container">
					{% if event.eventImages|length > 0 %}
					{% set image = event.eventImages|first %}
					<img src="{{ asset('images/events/' ~ image.name) }}" alt="{{ image.name }}" class="event-image">
					{% else %}
					<img src="{{ asset('images/events/default.jpg') }}" alt="Image par défaut" class="event-image">
					{% endif %}
				</div>

				<!-- Contenu : titre et description -->
				<div class="event-content ms-3 flex-grow-1">
					<h3 class="event-title">{{ event.title }}</h3>
					<p class="event-participants">Joueurs max {{ event.maxUser }}</p>
					<p class="event-description">{{ event.description }}</p>
					<p class="event-date">{{ event.startDate|date('Y-m-d H:i') }}</p>
				</div>

				<!-- Bouton -->
				<div class="event-buttons">
					<a href="{{ path('app_event_detail', {'id': event.id}) }}" class="btn btn-primary btn-sm">Voir
						Détails</a>
				</div>
			</li>
			{% else %}
			<p class="no-events">Aucun événement trouvé.</p>
			{% endfor %}
		</ul>
	</div>
</main>
<script src="{{ asset('js/filterEvents.js') }}"></script>
{% endblock %}