{% extends 'base.html.twig' %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Esportify{% endblock %}

{% block body %}
<main>

	<div class="page-title"> Esportify</div>

	<p class="description">Esportify est une entreprise spécialisée dans l'organisation de tournois eSport en ligne.
		Elle propose des
		compétitions excitantes, des expériences immersives et une plateforme pour les joueurs passionnés de tous
		niveaux.</p>



	<!-- Carrousel -->

	<div class="d-flex justify-content-center">
		<div id="carouselExample" class="carousel slide custom-carousel" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/images/Esport.jpg" class="d-block" style="max-height: 40vh; object-fit:contain;"
						alt="First Slide">
				</div>
				<div class="carousel-item">
					<img src="/images/joueurDeDos.jpg" class="d-block" style="max-height: 40vh; object-fit:contain;"
						alt="Second Slide">
				</div>
				<div class="carousel-item">
					<img src="/images/joueurDeFace.jpg" class="d-block" style="max-height: 40vh; object-fit:contain;"
						alt="Third Slide">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>

	<div class="event">
		<div class="event-section">
			<div class="Event-title">Événements à venir</div>
			<div class="event-list">
				<ul>
					{% for event in upcomingEvents %}
					<li class="event-item">
						<div class="event-content">
							<span>{{ event.title }} - {{ event.startDate|date('Y-m-d H:i') }} - {{
								event.endDate|date('Y-m-d
								H:i') }}</span>
							<a class="btn btn-primary btn-sm"
								href="{{ path('app_event_detail', {'id': event.id}) }}">Voir plus</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="event-section">
			<div class="Event-title">Événements en cours</div>
			<div class="event-list">
				<ul>
					{% for event in ongoingEvents %}
					<li class="event-item">
						<div class="event-content">
							<span>{{ event.title }} - {{ event.startDate|date('Y-m-d H:i') }} à {{
								event.endDate|date('Y-m-d
								H:i') }}</span>
							<a class="btn btn-primary btn-sm"
								href="{{ path('app_event_detail', {'id': event.id}) }}">Voir plus</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>



</main>
{% endblock %}